<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'PLUG::'+${post.getTitle()}">Title</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>

</head>

<body>
<div>
    <p th:text="${post.getTitle()}"></p>
    <p th:text="${post.getInfo()}"></p>
    <p th:text="${post.getAuthor()}"></p>
    <p th:text="${post.getModifiedAt()}"></p>
</div>

<div>
    <ul th:if="${list.size() == 0}">
        <li>등록된 댓글이 없습니다.</li>
    </ul>
    <ul th:unless="${list.size() == 0}">
        <li th:each="comment : ${list}"> <!--수정, 삭제 버튼 생성-->
            <span th:text="${comment.getBody()}"></span>
            <span th:text="${comment.getUsername()}"></span>

            <input id="comment-modify-input" placeholder="수정하실 댓글내용을 입력해 주세요.">
            <button type="button" class="commentUpdateBtn" th:onclick="'commentUpdateBtn(' + ${comment.getId()} + ')'" >수정</button>

            <button type="button" class="commentDeleteBtn" th:onclick="'commentDeleteBtn(' + ${comment.getId()} + ')'" >삭제</button>




        </li>
    </ul>
</div>

<div id="comment-form">
    <form th:action="@{/api/comment}" method="post"> <!--삭제, 수정 코멘트의 api 아이디-->
        <input type="hidden" name="postId" th:value="${post.getId()}">
        <input type="text" name="body" placeholder="댓글을 입력하세요" required>
        <button type="submit" id="comment-id-submit">댓글 등록</button>
    </form>
</div>
</body>

<script>
    $(document).ready(function () {
        const auth = getToken();
        if (auth !== undefined && auth !== '') {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        }
    })

    function getToken() {
        let auth = Cookies.get('Authorization');
        if (auth === undefined) {
            return '';
        }

        return auth;
    }

    document.getElementById("comment-id-submit").addEventListener("click", function() {
        var form = document.getElementById("comment-form");
        var formData = new FormData(form);
        var jsonObject = {};

        for (var pair of formData.entries()) {
            jsonObject[pair[0]] = pair[1];
        }

        var jsonData = JSON.stringify(jsonObject);
        console.log(jsonData);  // 입력값을 JSON 형식으로 출력

        // JSON 데이터를 서버로 전송하거나 필요한 작업을 수행할 수 있습니다.
        // 예를 들어, fetch API를 사용하여 서버로 전송하는 등의 작업을 수행할 수 있습니다.

    });

    /*<![CDATA[*/
    function commentUpdateBtn(id) {
        const updatedContent = document.getElementById("comment-modify-input").value();

        $.ajax({
            type: "PUT",
            url: `/api/comment/${id}`,
            contentType: "application/json",
            dataType : 'json',
            async : false,
            data: JSON.stringify({body: updatedContent}),
            success : function (response) {
                console.log('댓글 수정 완료', response);
                findAllComment(); // 새로운 댓글 목록을 가져오는 함수 호출
            },
            error : function (request, status, error) {
                console.log(error)
            }
        })
    }
    /*]]>*/

        /*<![CDATA[*/
        function commentDeleteBtn(id) {
        let feedId = [[${post.id}]];
        $.ajax({
        type: "DELETE",
        url: `/api/comment/` + id,
        // contentType: "application/json",
        dataType : 'json',
        async : false,
        data: JSON.stringify({postId: id}),
        success : function (response) {
        console.log('댓글 삭제 완료', response);
        findAllComment(); // 새로운 댓글 목록을 가져오는 함수 호출
    },
        error : function (request, status, error) {
        console.log(error)
    }
    })
    }
        /*]]>*/

        function findAllComment() {
        $.ajax({
            type: "GET",
            url: `/post/` + id,
            dataType: "json",
            success: function(response) {
                // 서버에서 받은 댓글 목록 데이터를 처리
                // 받은 데이터를 반복문으로 순회하며 화면에 댓글을 추가
                for (var i = 0; i < response.length; i++) {
                    var comment = response[i];
                    // 댓글을 화면에 추가하는 로직
                }
            },
            error: function(xhr, status, error) {
                console.log("댓글 목록을 가져오는 동안 오류가 발생했습니다.");
                console.log(error);
            }

        });
    }




</script>
</html>