<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/js/basic.js"></script>
    <title>PLUG::우리들의 플레이리스트 공유 공간</title>
</head>
<body>
<div class="header" style="position:relative;">

    <div id="login-true" style="display: none">
        <div id="header-title-login-user">
            <span th:text="${nickname}"></span>님 환영합니다!
            <a href="/api/user/detail">마이페이지</a>
        </div>
        <div>
            <img src="/images/Logo.png">
        </div>
        <a href="javascript:logout()">
            로그아웃
        </a>
        <a id="post-create" href="/post-page">
            글쓰기
        </a>
    </div>

    <div id="login-false">
        <div>
            PLUG
        </div>
        <a href="/api/user/login-page">
            로그인
        </a>
    </div>

    <!-- 리스트 데이터를 반복하며 출력 -->
    <div>
        <div class="card" style="width: 18rem;" th:each="post : ${list}">
            <div class="post-link" th:data-post-id="${post.getId()}">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.getTitle()}">Card title</h5>
                    <p class="card-text" th:text="${post.getInfo()}">Some quick example text to build on the card title
                        and make up the bulk of the card's content.</p>
                    <p class="card-text" th:text="${post.getAuthor()}">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>

<script>
    $(document).ready(function () {
        // 리스트 데이터를 반복하며 출력된 div.post-link에 클릭 이벤트 바인딩
        $(".post-link").click(function () {
            var postId = $(this).data("post-id");
            window.location.href = "/api/post/" + postId;
        });
    });
</script>
</html>