<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Title</title>
  <style></style>
  <script>
    //검색결과 붙이기
    function getSearchList() {
      $('#search-list').empty();
      addHTML(1);
    }

    function getContainList(){
      $('#contain-list').empty();
      addHTML(2);
    }

    function addHTML(num) {
      $.ajax({
        type: 'GET',
        url: '/plug/post',
        success: function (response) {
          for (let i = 0; i < response.length; i++) {
            let message = response[i];
            let title = message['title'];
            let artist = messge['artist'];
            let tempHTML = `
                                <tr>
                                    <td>${title}"</td> <!--검색한 값 출력 - 이거 맞나...-->
                                    <td>${artist}"</td>
                                </tr>`;
            if (num =1){
              $('#search-list').append(tempHTML)
            }else{
              $('#contain-list').append(tempHTML)
            }
          }
        }
      })
    }
  </script>
</head>
<body>
<div class = "header"><!--배너, 회원 정보-->
  <h2>PLUG</h2>
  <h4><span th:text="${Users.userName}"></span>님</h4>
</div>
<div>
  <div id="pli-info"> <!--플리 정보-->
    <div id="img">
      <input type="url" placeholder="플레이리스트 이미지 url을 입력하세요">
    </div>
    <textarea placeholder="플레이리스트 이름을 입력하세요" id="title"></textarea>
    <textarea placeholder="플레이리스트 소개를 입력하세요" id="info"></textarea>
  </div>
  <div id="play-list"><!--플레이 리스트 입력-->
    <form action="url" method=""> <!--입력방식 - 어케하지 -->
      <input type="search" placeholder="곡 제목을 입력하세요">
    </form>
    <div>
      <div id="serch-music">
        <table border="1"> <!--검색 결과 리스트-->
          <caption>검색 결과</caption>
          <thead>
          <tr>
            <th>곡 제목</th>
            <th>아티스트</th>
          </tr>
          </thead>
          <tbody id="search-list">
          <tr> <!--이부분 반복-->
            <td>title1</td> <!--검색한 값 출력 - 이거 맞나...-->
            <td>artist1</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="contain-music">
        <table border="1"> <!--담은 음악 리스트-->
          <caption>담은 음악</caption>
          <thead>
          <tr>
            <th>곡 제목</th>
            <th>아티스트</th>
          </tr>
          </thead>
          <tbody id="contain-list">
          <tr> <!--이부분 반복-->
            <td>title1</td> <!--등록한 값 출력 - 이거 맞나...-->
            <td>artist1</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button>등록</button>
      <button>취소</button>
    </div>
  </div>
</div>
</div>
<div class="footer"></div>
</body>
</html>